# EmailJS Configuration
# Get these from your EmailJS dashboard: https://dashboard.emailjs.com/

VITE_EMAIL_SERVICE_ID=service_4fvp62i
VITE_EMAIL_TEMPLATE_ID=template_720cut5
VITE_EMAIL_PUBLIC_KEY=xLzpH5OuQjOozjpD7
